/* --- ROOT --- */
:root {
  --primary: #ECE5C7;
  --secondary: #CDC2AE;
  --tertiary: #C2DEDC;
  --quartenary: #116A7B;
}

/* --- UI --- */
.rc-button {
  background-color: var(--quartenary);
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.rc-button:hover {
  opacity: 0.8;
}

/* --- CONTAINER --- */
.app-container {
  display: flex;
  flex-direction: column;
}

/* --- HEADER --- */
.header {
  background-color: var(--quartenary);
  width: 100%;
  height: 25px;
}

/* --- NAVIGATION --- */
.navigation {
  background-color: var(--tertiary);
  width: 100%;
  height: 25px;
}

/* --- AUTH --- */
.authorization {
  background-color: var(--primary);
}

/* --- MAIN --- */