/* --- ROOT --- */
:root {
  --primary: #6DA9E4;
  --secondary: #F6BA6F;
  --backgroundColor: #ADE4DB;
  --neutral: #FFEBEB;
  --danger: #FF0000;
  --confirm: #006400;
  --black: #000000;
}

body {
  background: var(--backgroundColor);
  font-family: Arial, Helvetica, sans-serif;
}

/* .primary-background {
  background: var(--primary)
}

.secondary-background {
  background: var(--secondary);
}

.neutral-background {
  background: var(--neutral);
}

.font-primary {
  font-family: "Arial Rounded MT", bold;
}

.bold {
  font-weight: bold;
} */

/* --- UI --- */
.jim-button {
  background-color: var(--primary);
  padding: 10px;
  width: 250px;
  color: rgb(3, 0, 0);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.jim-button:hover {
  opacity: 0.8;
}

.room-join-button {
  background-color: var(--primary);
  padding: 0;
  width: 99px;
  height: 37px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.room-join-button:hover {
  opacity: 0.8;
}

.room-edit-button {
  background-color: var(--secondary);
  padding: 0;
  width: 99px;
  height: 37px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.room-edit-button:hover {
  opacity: 0.8;
}

.room-delete-button {
  background-color: var(--danger);
  padding: 0;
  width: 99px;
  height: 37px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

/* --- HEADER --- */
header {
  height: 75px;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
}

/* --- NAVBAR --- */
nav.navbar {
  background-color: var(--backgroundColor);
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

/* --- Authorization --- */
.login-register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

/* --- Main --- */
.welcome-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.main-index {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* width: 1000px; */
  margin-top: 1em;
}

.main-index-item {
  width: 1000px;
}

.room-create-button {
  margin-bottom: 1em;
}

/* --- ROOM FEED --- */
.room.card {
  background-color: var(--neutral);
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  align-content: center;
  height: 75px;
  padding: 0;
  margin: 0;
}

.room.card-header {
  padding: 0;
  /* align-items: center; */
  /* align-self: center; */
  width: 100px;
}

.room.card-footer {
  align-self: center;
  padding: 0;
  margin: 0;
  width: 100px;
  height: 75px;
}

/* --- MESSAGE FEED --- */
.room-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-create.card {
  background-color: var(--backgroundColor);
  width: 800px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.message-card {
  width: 1000px;
}